<div class="">
  <h2>編集が完了しました！</h2>
  <%= link_to "トップページを見る！", root_path, :class => "btn btn-primary form-item" %>
  <br>
  <%= link_to "ユーザー編集に戻る", edit_user_path(@user.id), :class => "btn btn-primary form-item" %>
</div>